<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input ng-model='Player' type='text' placeholder='player'>
      <input ng-model='Club' type='text' placeholder='club'>
      <button ng-click="addTeam()" class="btn-primary btn-xs">Add Team</button>
    </div>
  </div>

  <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

  <table ng-table="tableParams" class="table">
    <tr ng-repeat="team in $data">
      <td data-title="'Player'" sortable="'Player'">
        {{team.Player}}
      </td>
      <td data-title="'Club'" sortable="'Club'">
        {{team.Club}}
      </td>
      <td>
        <Button ng-click="removeTeam(team.$id)" class="btn-primary btn-xs"><i class="fa fa-remove"></i></Button>
      </td>
    </tr>
  </table>

</div>
